{:paths ["src/clj" "src/cljs" "resources" "classes"]
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        leiningen {:mvn/version "2.9.0" :exclusions [leiningen.search]}
        ring {:mvn/version "1.7.1"}
        hawk {:mvn/version "0.2.11"}
        eval-soup {:mvn/version "1.5.0" :exclusions [org.clojure/core.async]}
        org.eclipse.jgit/org.eclipse.jgit {:mvn/version "4.6.0.201612231935-r"}
        org.openjfx/javafx-base {:mvn/version "13"}
        org.openjfx/javafx-fxml {:mvn/version "13"}
        org.openjfx/javafx-graphics {:mvn/version "13"}
        org.openjfx/javafx-web {:mvn/version "13"}}
 :aliases {:cljs {:extra-deps {org.clojure/clojurescript {:mvn/version "1.10.597"}
                               paren-soup {:mvn/version "2.16.0"}}
                  :extra-paths ["dev-resources"]
                  :main-opts ["cljs.clj"]}
           :dev {:extra-deps {orchestra {:mvn/version "2018.12.06-2"}
                              expound {:mvn/version "0.7.2"}}
                 :main-opts ["dev.clj"]}
           :prod {:main-opts ["prod.clj"]}
           :windows {:extra-deps {org.openjfx/javafx-graphics$win {:mvn/version "13"}
                                  org.openjfx/javafx-web$win {:mvn/version "13"}}}
           :macos {:extra-deps {org.openjfx/javafx-graphics$mac {:mvn/version "13"}
                                org.openjfx/javafx-web$mac {:mvn/version "13"}}}
           :linux {:extra-deps {org.openjfx/javafx-graphics$linux {:mvn/version "13"}
                                org.openjfx/javafx-web$linux {:mvn/version "13"}}}}}
