{:paths ["src/clj" "src/cljs" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.9.0"}
        leiningen {:mvn/version "2.8.1" :exclusions [leiningen.search]}
        ring {:mvn/version "1.6.1"}
        hawk {:mvn/version "0.2.11"}
        play-cljs/lein-template {:mvn/version "0.11.2.1"}
        eval-soup {:mvn/version "1.2.3" :exclusions [org.clojure/core.async]}
        org.eclipse.jgit/org.eclipse.jgit {:mvn/version "4.6.0.201612231935-r"}}
 :aliases {:cljs {:extra-deps {org.clojure/clojurescript {:mvn/version "1.9.946"}
                               paren-soup {:mvn/version "2.9.3"}
                               mistakes-were-made {:mvn/version "1.7.4"}
                               cljsjs/codemirror {:mvn/version "5.24.0-1"}}}}}
