{:paths ["src/clj" "src/cljs" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.9.0"}
        leiningen {:mvn/version "2.8.1" :exclusions [leiningen.search]}
        ring {:mvn/version "1.6.3"}
        hawk {:mvn/version "0.2.11"}
        play-cljs/lein-template {:mvn/version "1.2.0.3"}
        edna {:mvn/version "1.0.0"}
        edna/lein-template {:mvn/version "1.0.0.3"}
        eval-soup {:mvn/version "1.4.3" :exclusions [org.clojure/core.async]}
        org.eclipse.jgit/org.eclipse.jgit {:mvn/version "4.6.0.201612231935-r"}}
 :aliases {:cljs {:extra-deps {org.clojure/clojurescript {:mvn/version "1.10.238"}
                               paren-soup {:mvn/version "2.12.3"}
                               cljsjs/codemirror {:mvn/version "5.24.0-1"}}}}}
