; To customize the keyboard shortcuts, place this file in the same directory
; as the Nightcode jar file before running it. The strings should follow the
; convention used by Java's KeyStroke.getKeyStroke(String) method:
; http://docs.oracle.com/javase/7/docs/api/javax/swing/KeyStroke.html#getKeyStroke(java.lang.String)

{:new-project "P"
 :rename "M"
 :import "O"
 :remove "G"
 :run "R"
 :run-repl "E"
 :reload "shift S"
 :eval "shift X"
 :build "B"
 :test "T"
 :clean "L"
 :check-versions "shift V"
 :stop "I"
 :sdk "shift K"
 :auto "shift O"
 :up "U"
 :save "S"
 :undo "Z"
 :redo "Y"
 :font-dec "MINUS"
 :font-inc "EQUALS"
 :doc "shift D"
 :paredit "shift P"
 :find "F"
 :replace "shift R"
 :close "W"
 :repl-console "shift E"
 :toggle-logcat "S"
 :new-file "N"
 :edit "shift M"
 :open-in-browser "shift F"
 :cancel "shift C"
 :build-console "shift A"}