{:project-tree "Project Tree"
 :repl-console "REPL Console"
 :build-console "Build Console"
 :parent-directory "Parent Directory"
 :close "Close"
 :paredit-help "Paredit Help"

 :new-project "New Project"
 :rename "Rename"
 :import "Import"
 :remove "Remove"

 :run "Run"
 :run-with-repl "Run with REPL"
 :reload "Reload"
 :eval "Eval Selection"
 :build "Build"
 :test "Test"
 :clean "Clean"
 :stop "Stop"
 :start "Start"
 :auto-build "Auto Build"
 :check-versions "Check Versions"

 :android-sdk "Android SDK"
 :robovm "RoboVM"
 :android-devices "Android Devices"

 :ok "OK"
 :cancel "Cancel"
 :yes "Yes"
 :no "No"

 :remove-project-warning "Remove this project? It WILL NOT be deleted from the disk."
 :remove-file-warning "Remove this file? It WILL be deleted from the disk."
 :remove-project "Remove Project"
 :remove-file "Remove File"

 :file-exists "File already exists."
 :project-clj-required "You need a project.clj file to build this project."
 :create-project-clj "Create project.clj"
 :continue "Continue"
 :unsaved-changes "You will lose your unsaved changes."
 :quit-confirm "Are you sure you want to quit?"
 :quit "Quit"

 :console "Console"
 :game "Game"
 :android "Android"
 :ios "iOS"
 :desktop "Desktop"
 :web "Web"
 :database "Database"
 :graphics "Graphics"
 :sounds "Sounds"
 :download "Download"

 :package-prompt "Package name"
 :download-prompt "Git address"

 :clojure "Clojure"
 :java "Java"
 :clojurescript "ClojureScript"
 :javascript "JavaScript"
 :specify-project-type "Specify Project Type"
 :create-project "Create Project"
 :clone-project "Clone Project"

 :no-project-clj "Can't find project.clj"
 :finished "Finished"
 :running "Running..."
 :running-with-repl "Running with REPL..."
 :building "Building..."
 :testing "Testing..."
 :cleaning "Cleaning..."
 :checking-versions "Checking Versions..."

 :save "Save"
 :undo "Undo"
 :redo "Redo"
 :font-dec "Font -"
 :font-inc "Font +"
 :paredit "Paredit"
 :doc "Doc"
 :find "Find"
 :replace "Replace"

 :new-file "New File"
 :edit "Edit"
 :open-in-file-browser "Open in File Browser"
 :delete "Delete"
 :toggle-window "Toggle Window"

 :ctrl "Ctrl"
 :alt "Alt"

 :enter-file-name "Enter a file name."
 :enter-relative-path "Enter a path relative to the project root."
 :enter-project-name "Enter a name for your project."
 :invalid-name "Invalid name."

 :arcade "Arcade"
 :platformer "Platformer"
 :orthogonal "Orthogonal"
 :isometric "Isometric"
 :barebones "Barebones"

 :error-load "Error during load"
 :error-in "Error in %s"
 :stack-trace "Stack Trace"
 :copy "Copy"

 :new "New"
 :load "Load"

 :home "Home"
 :restart "Restart"
 :screenshot "Screenshot"
 :files "Files"
 :docs "Docs"
 :repl "REPL"

 :search "Search"

 :pull "Pull"
 :push "Push"
 :changes "Changes"

 :message "Message (optional)"
 :commit "Commit"

 :loading "Loading..."
 :author "Author: %s"
 :committer "Committer: %s"
 :commit-time "Commit Time: %s"

 :invalid-git-address "Invalid Git address. You need to copy it before clicking here."}
