body {margin: 0;padding:0;}

.wiki ol.includeWikiList { list-style: none; margin-left: 6px; padding: 0; text-indent: -6px; }
/* Wiki Rendered Styles */
.wiki { line-height: 150%; font-family: arial, helvetica, sans-serif; font-size: small; }
.wiki h1 { font-weight: bold; padding: 5px 0 0 0; margin: 0; font-size: 1.4em; }
.wiki h2 { font-weight: bold; padding: 5px 0 0 0; margin: 0; font-size: 1.3em; }
.wiki h3 { font-weight: bold; padding: 5px 0 0 0; margin: 0; font-size: 1.1em; }
.wiki h4 { font-weight: normal; padding: 5px 0 0 0; margin: 0; font-size: 1.066em; }
.wiki h5 { font-weight: normal; padding: 5px 0 0 0; margin: 0; font-size: 1.033em; }
.wiki h6 { font-weight: normal; padding: 5px 0 0 0; margin: 0; font-size: 1.0em; }
.wiki table { border-collapse: collapse; margin: 10px 0; font-size: 1em; }
.wiki p { margin: 0; padding: 0; padding: 5px 0; }
.wiki td { border: 1px solid #DDD; }
.wiki #toc { border: 1px solid #AAA; background: #fff; padding: 5px; margin: 0 0 10px 10px; width: 25%; float: right; clear: right;}
.wiki #toc h1 { font-weight: normal; font-size: 1.2em; padding: 0; }
.wiki #toc a:hover { color: #00D; background: #FFD; }
.wiki pre { background-color: #EEE; border: 1px solid #CCC; padding: 10px; font-size: small;}
.wiki .nob td { border: 0; }
.wiki hr { height: 1px; color: #AAA; background-color: #AAA; border: 0; margin: 0 10px; }
.wiki ul { padding: .5em 0 0 3em; margin: 0; }
.wiki ol { padding: .5em 0 0 3em; margin: 0; }
.wiki ul.quotelist { list-style: none; }
.wiki a.ext { background: url(/i/a.gif) center right no-repeat; padding-right: 10px; }
.wiki a.wiki_link_new { color: #600; }
.wiki a.wiki_link_ext { background: url(/i/a.gif) center right no-repeat; padding-right: 10px; }
.wiki tt { font-size: small; }
.wiki img { border: 0; padding: 4px; }

.wiki .includeBodyActive { border-right: 1px #888888 solid; border-bottom: 1px #888888 solid; border-left: 1px #CCCCCC solid; border-top: 1px #CCCCCC solid; background: #fffacd; clear: left; }
.wiki .includeBody { background: inherit; border: 1px transparent solid; clear: left; }
.wiki .includeHeader { padding: 2px; padding-top: 2px; }
.wiki .includeTitle { font-size: 120%; font-weight: bold; }
.wiki .includeEditButton { float: right; padding-left: 10px; padding-right: 10px;}
.wiki .includeEditButtonActive { float: right; padding-left: 10px; padding-right: 10px; }
.wiki .includeEditButton a { color: #888888; font-size: 80%; text-decoration: none; }
.wiki .includeEditButtonActive a { color: black; font-size: 80%; text-decoration: none; }

.wiki .captionBox { border: thin gray solid; padding: 5px; margin: 2px; }
.wiki .imageCaption { text-align: center; }

.wiki .RssAuthor { color: #666; font-size: 80%; }
.wiki .RssDate { color: #666; font-size: 80%; }

.wiki .userLink { font-weight: bold; }
.wiki .userLinkGuest { font-weight: bold; }

/* Comments Include styles */
.wiki table.includeComments { border-collapse: collapse; padding: 0; margin: 0; width: 100%; }
.wiki table.includeComments td, .wiki table.includeComments th { border: 1px solid #DDD; padding: 4px; margin: 0; }
.wiki table.includeComments th { color: #333; padding: 4px; margin: 0; text-align: center; white-space: nowrap; }
.wiki table.includeComments thead th { background:url(/i/gradient_grey.gif) top left repeat-x #FFF; }
.wiki table.includeComments tfoot th { background-color: #EEE; }

/* History Include styles */
.wiki table.includeHistory { border-collapse: collapse; padding: 0; margin: 0; width: 100%; }
.wiki table.includeHistory td, .wiki table.includeHistory th { border: 1px solid #DDD; padding: 4px; margin: 0; }
.wiki table.includeHistory th { color: #333; padding: 4px; margin: 0; text-align: center; white-space: nowrap; }
.wiki table.includeHistory thead th { background:url(/i/gradient_grey.gif) top left repeat-x #FFF; }
.wiki table.includeHistory tfoot th { background-color: #EEE; }

/* Backlinks Include styles */
.wiki table.includeBacklinks { border-collapse: collapse; padding: 0; margin: 0; width: 100%; }
.wiki table.includeBacklinks td, .wiki table.includeBacklinks th { border: 1px solid #DDD; padding: 4px; margin: 0; }
.wiki table.includeBacklinks th { color: #333; padding: 4px; margin: 0; text-align: center; white-space: nowrap; }
.wiki table.includeBacklinks thead th { background:url(/i/gradient_grey.gif) top left repeat-x #FFF; }
.wiki table.includeBacklinks tfoot th { background-color: #EEE; }

/* Editors Include Styles */
.wiki ul.includeEditorsLarge { list-style: none; display: inline; padding: 0; }
.wiki ul.includeEditorsSmall { list-style: none; display: inline; padding: 0; }
.wiki ul.includeEditorsLarge li { display: inline; padding: 2px; }
.wiki ul.includeEditorsSmall li { display: block; padding: 2px; }

/* Page List Include Styles */
.wiki ol.includePageList { list-style: none; padding: 0; }

/* Tag Cloud Include Styles */
.wiki ol.includeTagCloud { list-style: none; display: inline; padding: 0; }
.wiki ol.includeTagCloud li { display: inline; padding: 2px;}

/* Adjust custom nav list padding */
.WikiCustomNav ol, .WikiCustomNav ul { padding-left: 0; }


/* Search styles */

.search {
	padding: 0.3em 0.3em 0;
}

#search {
	margin: 0;
	display: block;
	border-radius: 5px;
	border: 1px solid #ddd;
	background: #ebebeb;
	padding: 5px;
	font-size: 1.5em;
	font-weight: bold;
	outline: none;
	box-sizing: border-box;
	width: 100%;
}

#search:focus {
	border: 1px solid #999;
}

#search.highlight {
	background: red;
}

.highlight {
	background: yellow;
}

/* Responsive styles */

.page {
	float: left;
}

.column {
	min-width: 25em;
}

@media only screen and (min-width: 801px) {
	.page {
		max-width: 73em;
	}

	.search {
		max-width: 29em;
	}
}


@media only screen and (max-width: 800px) {
	.wiki {
		/* font-size: 10px; */
	}
}

@media only screen and (max-width: 620px) {
	.page .column {
		width: 100%;
	}
}

.wiki { font-size: 16px; }
